org_id                    = "1234567898765"
billing_account           = "AAAAAA-BBBBBB-CCCCCC"
folder_id                 = "1234567898765"
members                   = ["user:me@example.com"]
terraform_service_account = "me@example.com"
